<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if language=='es' %}
    <title>Resumen</title>
    {% else %}
    <title>Summary</title>
    {% endif %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    {% if language=='es' %}
    <h1 class="mt-5">Resumen del Texto</h1>
    <div class="card mt-4">
        <div class="card-body">
            <p class="summary">{{ summary }}</p>
        </div>
    </div>
    <a href="/" class="btn btn-primary mt-4">Volver</a>
    {% else %}
    <h1 class="mt-5">Summary of the Text</h1>
    <div class="card mt-4">
        <div class="card-body">
            <p class="summary">{{ summary }}</p>
        </div>
    </div>
    <a href="/" class="btn btn-primary mt-4">Back</a>
    {% endif %}
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>